// COLOR VARIABLES

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;



// FONT VARIABLES

$font-logo: 'Philosopher',
sans-serif;
$font-one: 'Merienda',
cursive;
$font-two: 'Bai Jamjuree',
sans-serif;
$font-three: 'Catamaran',
sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-4k:160em;
$bp-FH: 120em;
$bp-XXL: 90em; // 1440px
$bp-XL: 75em; // 1200px
$bp-L: 64em; // 1024px
$bp-M: 56.25em; // 900px;
$bp-S: 43.75em; // 700px;
$bp-XS:30em; // 480
$bp-XXS: 23.75em;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    scroll-behavior: smooth;

    @media (min-width: $bp-4k) {
        font-size: 75%;
    }

    @media (max-width: $bp-XL) {
        font-size: 56.25%;
    }

    @media (max-width: $bp-L) {
        font-size: 50%;
    }

    @media (max-width: $bp-M) {
        font-size: 50%;
    }

    @media (max-width: $bp-S) {
        font-size: 43.75%;
    }


}




.container {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: max-content max-content min-content max-content min-content min-content min-content max-content max-content;
}

.visible {

    display: block !important;

}

.titleBig {
    font-family: $font-three;
    font-size: 3.5rem;
    font-weight: bold;
}


.loader {
    margin: 5rem auto;
    text-align: center;

    &> svg {
        height: 5.5rem;
        width: 5.5rem;
        fill: #F59A83;
        transform-origin: 44% 50%;
        animation: rotate 1.5s infinite linear;
    }
}